@{
    ViewBag.Title = "Home Page";
}

<h3 class="text-info">Monthly Budget Calculator</h3>

    The <b>Monthly Budget Calculator</b> Application is designed to allow you to record and
    control your income and expenditure on a <i>monthly basis</i>.<br />

<div class="row">
    <div class="col-md-8">
        <h4 class="text-info"><i>Features:</i></h4>
        <ol>
            <li>Record <b>Primary Income</b> and any <b>Additional Income</b></li>

            <li>Record <b>Monthly Expenditure</b>:</li>
            <i>Car, Household, Personal, Travel and Utility Bill Expenditure</i>

            <li><b>Budget Summary Analysis</b> on the data entered will be displayed in a Budget Summary Table</li>

            <li><b>Budget Chart Analysis</b> will display budget information as a visual aid</li>

            <li><b>Budget Forecast</b> on income and expenditure to plan for future budgets</li>
        </ol>
    </div>
</div>

@*<div class="row">
        <div class="col-md-8">
            <p>Click <b>Application Users</b> to view User Profile and Saved Budgets</p>
            <p><a class="btn btn-primary" @Html.ActionLink("Application Users", "Index", "BudgetUsers")</a></p>
        </div>
    </div>*@
