@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2 class="text-danger">Monthly Budget Calculator Application Error!</h2>
<h3>An error occurred while processing your request.</h3>
<h3>Contact Administrator - Click on the <b>Contact</b> link below.</h3>